body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


.grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "header header"
                         "main box"
                         "footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
}

.header {
    height: 100%;
    width: 100%;
    grid-area: header;
    text-align: center
}

.nav-bar {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    width: 10%;
    height: 20%;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 10px;
    list-style: none;
}


.nav-item:hover {
    background-color: beige;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.nav-link {
    text-decoration: none;
    color: white;
}


.box {
    height: 100%;
    width: 100%;
    grid-area: box;
    background-color: blueviolet;
}
